/* You can add global styles to this file, and also import other style files */
html{
    background-image: url(https://wallpaperaccess.com/full/84324.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    height: 100vh;
}